@import '~@angular/material/theming';

@include mat-core();

$my-theme-primary: mat-palette($mat-green);
$my-theme-accent:  mat-palette($mat-pink, A200, A100, A400);
$my-theme-warn:    mat-palette($mat-red);

$my-theme: mat-light-theme($my-theme-primary, $my-theme-accent, $my-theme-warn);

$my-second-theme-primary: mat-palette($mat-cyan);
$my-second-theme-accent:  mat-palette($mat-teal);
$my-second-theme-warn:    mat-palette($mat-red);

$my-second-theme: mat-light-theme($my-second-theme-primary, $my-second-theme-accent, $my-second-theme-warn);

.my-theme {
  @include angular-material-theme($my-theme);
}

.my-second-theme {
  @include angular-material-theme($my-second-theme);
}

